* {
  font-size: 14px;

  font-family: "Yatra One", system-ui;
}

*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

ul[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li {
  margin: 0;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  outline: none;
  font: inherit;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
